thead {
    color: #337AB7;
}

.email{
   margin-left: 254px; 
}

.emailTitle{
   margin-left: 160px; 
}

.likes{
   margin-left: 25px; 
}

.eng-rate{
   margin-left: 30px; 
}
.contanier-url{
    margin-top: 3px;
}
.panel-primary{
    margin-top: 55px;
}
